schemas/src/main/mule/json-schema-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ead9b8b-2d19-4bd6-aff2-d386b00b0da9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="json-schemasFlow" doc:id="192dad4e-0469-461b-bc95-1ae89aa1c2c5" >
		<http:listener doc:name="Listener" doc:id="29e4ad71-0c23-43d6-92dd-aebeccd63838" config-ref="HTTP_Listener_config" path="/json-schemas"/>
		<json:validate-schema doc:name="Validate schema 1" doc:id="10231d6b-c5dc-4197-86f7-1cf191f1c9ff" schema="schema-1.json"/>
		<logger level="INFO" doc:name="payload" doc:id="f106e980-d8e8-44ce-936a-2beea39b13c4" message="#[payload]"/>
	</flow>
</mule>
