password-hiding/src/main/mule/https.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

	<flow name="httpsFlow" doc:id="445d6c1d-253f-42fe-afce-b63209f4bcb4" >
		<http:listener doc:name="Listener" doc:id="7d605a56-f79e-4ce8-bdbd-bbced1398f87" config-ref="HTTPS_Listener_config" path="/https"/>
		<set-payload value='#[%dw 2.0 
output application/json
---

"hello https"]' doc:name="hello https" doc:id="d7f84a88-0219-4b88-bae2-df38f79e0d9c" />
		<logger level="INFO" doc:name="hello https" doc:id="e902e8a3-7bf8-4994-bb96-755029827b11" message="#[payload]"/>
	</flow>
</mule>
