password-hiding/src/main/mule/password-hiding.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="password-hidingFlow" doc:id="d86a9378-8c60-46fa-a917-085f850c5f0f">
		<scheduler doc:name="Scheduler" doc:id="a1ca6d62-bbe2-4fa6-a0cf-077f85de26da">
			<scheduling-strategy>
				<fixed-frequency startDelay="1000" timeUnit="DAYS" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Yaml Elements"
			doc:id="7584f2d9-35d4-4bcb-a061-7b3c22857ac3"
			message='#["[HTTP port: ${http.port}, username: ${username}, password: ${password}, birthdate: ${birthdate}]"]'
			category="[Yaml Elements]" />
		<logger level="INFO" doc:name="End of Flow"
			doc:id="33194b30-9a83-4389-acda-e44ad7cd3aa4" message="[End of Flow]" />
	</flow>
</mule>
