basictutorial/src/main/mule/basictutorial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44a311c3-ce5f-44f8-a27c-ddceee2acc04" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="basictutorialFlow" doc:id="99c01038-934b-406f-a5c0-98abcf8572c9" >
		<http:listener doc:name="Listener" doc:id="78addb6f-ea3f-4f37-8e19-c8e6c09e4404" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["Hello World!"]' doc:name="Set Payload" doc:id="df1bf7fa-66ae-4e1e-90ef-8694ce8f48ea" />
	</flow>
</mule>
