testscript/src/main/mule/longerPayloads.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="longerPayloadsFlow" doc:id="ef566723-ede4-4cfd-a272-ddcbe7ed8601" >
		<ee:transform doc:name="Transform Message" doc:id="8c963d97-025a-439a-9d33-7634c40f22e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.hello]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
