test-components/src/main/mule/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="batchFlow" doc:id="56e5d297-bcdd-426b-8a9b-edbbff4193d7" >
		<scheduler doc:name="Scheduler" doc:id="8ace6bc1-9a1d-444a-b9b0-bc45a8efc144" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="to [1,2,3]" doc:id="f385978e-0e44-4bd4-b592-5701185053d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

[1,2,3]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchBatch_Job" doc:id="122b9f1a-5c36-492a-a8d9-4848bdd788ac" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a21f4dea-f325-4bf5-b78e-178cde7341f8" acceptPolicy="ALL">
					<set-variable value="#[payload]" doc:name="batchStepPayload to payload" doc:id="875ecaa6-9dc2-4d3c-9113-64fd31943e23" variableName="batchStepPayload"/>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="94d9f8cf-fbf0-4a43-af42-5e90c77079ac" acceptPolicy="ALL">
					<set-variable value="#[vars.batchStepPayload + 10]" doc:name="increment batchstepPayload + 10" doc:id="f3220d39-5e26-4401-a4b6-43fe6b14e704" variableName="batchStepPayload"/>
					<set-payload value="#[vars.batchStepPayload]" doc:name="to var batchStepPayload" doc:id="58ec7150-8a9c-4ef1-afc1-518d3a7c3bf6" />
					<logger level="INFO" doc:name="Log payload" doc:id="1dbd13b0-43ac-4d90-a573-23c5cf0f1ebc" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="ef21049b-2489-4a70-99d7-d79d7a9a5806" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="batchFlow1" doc:id="1ac7c378-27a2-46fb-9503-d9c0e3f708a0" >
		<scheduler doc:name="Scheduler" doc:id="f77859c2-60c0-4bb8-8c20-d73a212aa6b2" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="[1,2,3,4,5,6]" doc:id="c1687188-3e92-49d1-8212-3f84ec8ef28c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[1,2,3,4,5,6]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchBatch_Job1" doc:id="887ee5b2-8ce4-4ce8-b189-b35de27044dc" >
			<batch:process-records >
				<batch:step name="Batch_Step2" doc:id="7e353aaf-58b4-487e-a077-1f20aa275526" acceptExpression="#[(payload mod 2) ==0]">
					<ee:transform doc:name="Multiply by 10" doc:id="0631266a-b341-4574-8278-dd28af9c34d7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
//payload / 3
---
payload * 10]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" size="2">
						<logger level="INFO" doc:name="payload" doc:id="c959ea6f-82e4-4d31-bbdc-74d1253efa00" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
