dataweave/src/main/mule/set-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="test-script-2Flow" doc:id="61d0922a-7599-480c-ae20-132693f4b08d" >
		<scheduler doc:name="Scheduler" doc:id="bbccfbac-98e7-415b-aa8b-bab567617433" >
			<scheduling-strategy >
				<fixed-frequency startDelay="1000" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value='#[output application/json --- { hello : "world"}]' doc:name="Set Payload" doc:id="f3e9baff-9f36-400e-9edb-ef35dc66150b" />
		<logger level="INFO" doc:name="Logger" doc:id="ec3d2455-20b2-492a-bf23-09cb7297a19e" message="#[payload]"/>
	</flow>
</mule>
